header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px;
  }

  nav ul li {
    margin-left: 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 50px;
    border-radius: 10px;
    border: 2px solid;
  }

  .logo .site-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }